**PYBTCMP - 11**

**Grup Adı: Global-AI-Hub-Bests**

**Grup Üyeleri:** Kaan Çalışkan, Ceren Tabak Buru, Simge Meryem Sarıer, Korhan Köykıran, Kübra Usta

**Proje Konusu:** Öğrenci Not Sistemi 

**Gereksinimler:**

*   Not sistemi oluşturulacak dersin belirlenmesi (Matematik,Fizik, Lineer Cebir vb.)
*   Not aralığınızı oluşturunuz (100-80 ⇒ A, 79-70 ⇒ B vb.)
*   Öğrenci Bilgilerini (Ad, Soyad, Okul No, sınav puanı) girebileceğiniz ve bu bilgilerin tutulabileceği bir sistem oluşturunuz.
*   Girilen bilgilerden yola çıkarak öğrencinin dersi geçip geçmediğini göstermesi gerekmektedir.
*   Öğrenci dersi geçti ise öğrencinin bilgilerinin tutulduğu alana “Geçti” yazısı, öğrenci dersi geçemedi ise “kaldı” yazısını göstermesi gerekmektedir.
*   Notları girilen öğrencilerden dersi geçenleri ve geçmeyenleri gösteren bir Dataframe oluşturunuz.
*   Oluşturulan Dataframe’i Excel tablosuna dönüştürünüz.

Adım 1: ... dersi için not sistemi oluşturulmasına karar verilmiştir.

**Puan Tablosu**

* 100 (A+)
* 90 - 100 (A)
* 85 - 89 (BA)
* 80 - 84 (BB)
* 75 - 79 (CB)
* 70 - 74 (CC)
* 65 - 69 (DC)
* 60 - 64 (DD)
* 50 - 59 (FD)
* 0 - 49 (FF)

📌 if, elif ve else koşullarını kullanmak istiyoruz.

... dersi için not aralığı oluşturulması için ders nonu hesaplama fonksiyonunu tanımlıyoruz.

In [ ]:
def ders_notu_hesaplama(notlar):
  x = int(notlar)
  if x == 100:
    return 'A+'
  elif x >= 90:
    return 'AA'
  elif x >= 85:
    return "BA"
  elif x >= 80:
    return 'BB'
  elif x >= 75:
    return 'CB'
  elif x >= 70:
    return 'CC'
  elif x >= 65:
    return 'DC'
  elif x >= 60:
    return 'DD'
  elif x >= 50:
    return 'FD'
  if x < 0:
    return ValueError("HATA: Negatif değer")
  else:
    return 'F'

Koşul fonksiyonumuz çalışıyor mu? kontrol ediyoruz.

In [ ]:
ders_notu_hesaplama(100)

'A+'

In [ ]:
ders_notu_hesaplama(85)

'BA'

In [ ]:
ders_notu_hesaplama(-1)

ValueError('HATA: Negatif değer')

Adım 2: Öğrenci Bilgilerini (Ad, Soyad, Okul No, Sınav Puanı) girilen ve bu bilgilerin tutulduğu bir sistem oluşturma

In [ ]:
def ogrenci_not_sistemi_raporu(ad, soyad, okulno, ders, notlar):
  return str(okulno) + " numaralı, " + ad + soyad + " adlı öğrencimiz " + ders + " dersinden " + str(notlar) + "/100 puan alarak " + ders_notu_hesaplama(notlar) + " notunu almaya hak kazanmıştır."

Raporlama fonksiyonunu test edelim.

In [ ]:
ogrenci_not_sistemi_raporu("Kaan", " Çalışkan", 1234567890, "Tarih", 80)

'1234567890 numaralı, Kaan Çalışkan adlı öğrencimiz Tarih dersinden 80/100 puan alarak BB notunu almaya hak kazanmıştır.'

Girilen bilgilerden yola çıkarak öğrencilerin dersi geçip geçmediğinin gösterilmesi

In [ ]:
ad = input('Öğrencinin Adı: ')
soyad = input('Öğrencinin Soyadı: ')
okulno = input('Öğrencinin Okul Numarası: ')
ders = input('Ders Adı: ')
notlar = input('Aldığı Not: ')

print(okulno, "numaralı,", ad, soyad, "adlı öğrencimiz", ders, "dersinden ", notlar,"/100 puan alarak ", ders_notu_hesaplama(notlar), "notunu almaya hak kazanmıştır.")

Öğrencinin Adı: Kaan
Öğrencinin Soyadı: Çalışkan
Öğrencinin Okul Numarası: 1234567890
Ders Adı: Tarih
Aldığı Not: 80
1234567890 numaralı, Kaan Çalışkan adlı öğrencimiz Tarih dersinden  80 /100 puan alarak  BB notunu almaya hak kazanmıştır.

In [ ]:
ad = input('Öğrencinin Adı: ')
soyad = input('Öğrencinin Soyadı: ')
okulno = input('Öğrencinin Okul Numarası: ')
ders = input('Ders Adı: ')
notlar = input('Aldığı Not: ')

if notlar >= str(60):
  print("Sayın", ad, soyad, "almış olduğunuz", ders_notu_hesaplama(notlar), "harf notu ile", ders, "dersinden geçtiniz. Sizi tebrik ederiz.")
else:
  print("Sayın", ad, soyad, "almış olduğunuz", ders_notu_hesaplama(notlar), "harf notu ile", ders, "dersinden kaldınız. Bir sonraki yıl tekrar etmeniz gerekmektedir.")

Öğrencinin Adı: Kaan
Öğrencinin Soyadı: Çalışkan
Öğrencinin Okul Numarası: 1234567890
Ders Adı: Tarih
Aldığı Not: 20
Sayın Kaan Çalışkan almış olduğunuz F harf notu ile Tarih dersinden kaldınız. Bir sonraki yıl tekrar etmeniz gerekmektedir.

Öğrenci dersi geçti ise öğrencinin bilgilerinin tutulduğu alana “Geçti” yazısı, öğrenci dersi geçemedi ise “kaldı” yazısını göstermesi gerekmektedir.

Oluşturulan Dataframe’i Excel tablosuna dönüştürülmesi

In [ ]:
import pandas as pd

ogrenci_yilsonu_karnesi = {'Ad': ['Kaan', 'Ceren', 'Simge', 'Korhan', 'Kübra'],
                           'Soyad': ['Çalışkan', 'Tabak Buru', 'Meryem Sarıer', 'Köykıran', 'Usta'],
                           'Okulno': [1234567890, 2345678901, 3456789012, 4567890123, 5678901234],
                           'Ders': ['Tarih', 'Matematik', 'Astrofizik', 'Mekatronik', 'Makine Öğrenmesi'],
                           'Notlar': [80, 90, 65, 40, 55],
                           'Harf Notu': ['Geçti', 'Geçti', 'Geçti', 'Kaldı', 'Kaldı']}
                           
df = pd.DataFrame(ogrenci_yilsonu_karnesi)

left_aligned_df = df.style.set_properties(**{'text-align': 'left'})
 
left_aligned_df = left_aligned_df.set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])
 
display(left_aligned_df)