Bu projede bir öğrenci not sistemi oluşturacaksınız. Sizden istenilenler:

Kendinize bir ders belirleyiniz. (Matematik,Fizik, Lineer Cebir vb.)

Not aralığınızı oluşturunuz (100-80 ⇒ A, 79-70 ⇒ B vb.)

Öğrenci Bilgilerini (Ad, Soyad, Okul No, sınav puanı) girebileceğiniz ve bu bilgilerin tutulabileceği bir sistem oluşturunuz.

Girilen bilgilerden yola çıkarak öğrencinin dersi geçip geçmediğini göstermesi gerekmektedir.

Öğrenci dersi geçti ise öğrencinin bilgilerinin tutulduğu alana “Geçti” yazısı, öğrenci dersi geçemedi ise “kaldı” yazısını göstermesi gerekmektedir.

Notları girilen öğrencilerden dersi geçenleri ve geçmeyenleri gösteren bir Dataframe oluşturunuz. 

Oluşturulan Dataframe’i Excel tablosuna dönüştürünüz.

In [ ]:
#Öğrenci Bilgilerini (Ad, Soyad, Okul No, sınav puanı) girebileceğiniz ve bu bilgilerin tutulabileceği bir sistem oluşturunuz.
class LectureStatus():
  def __init__(self, lecture, stu_name, stu_number, points):
    self.lecture = lecture
    self.stu_name = stu_name
    self.stu_number = stu_number
    self.points = points
    self.grade = 0
    self.status = 0

#Puanları harf notuna dönüştürme, geçti/kaldı durumunu belirleme
  def compute_grade(self):
    points = self.points
    if points >= 90:
      self.grade = 'A' 
      self.status = 'Passed'
    elif points >= 60:
      self.grade = 'B' 
      self.status = 'Passed'
    elif points >= 40:
      self.grade = 'C' 
      self.status = 'Passed'
    elif points >= 20:
      self.grade = 'D' 
      self.status = 'Failed'
    else:
      self.grade ='F'
      self.status = 'Failed'

#Sonuç mesajı
  def result_message(self):
    if (self.grade <= 'C'):
      print(f"""Congratulations, you passed! {self.stu_name} scored {self.points}/100 points in {self.lecture} and got the letter {self.grade}.""")
    else:
      print(f""" You failed the {self.lecture}! Try again next semester {self.stu_name} scored {self.points}/100 points in {self.lecture} and got the letter {self.grade}.""")

#Sonuç özeti
  def results(self):
    
    results = []
    results.append((self.stu_name, self.lecture,self.grade, self.status))
    print(results)

In [ ]:
#Öğrenci 1
stu1 = LectureStatus('Math','Ben Walt', 12345678, 10)
stu1.compute_grade()
stu1.result_message()
stu1.results()

 You failed the Math! Try again next semester Ben Walt scored 10/100 points in Math and got the letter F.
[('Ben Walt', 'Math', 'F', 'Failed')]

In [ ]:
#Öğrenci 2
stu2 = LectureStatus('Math','John Smith', 11234567, 66)
stu2.compute_grade()
stu2.result_message()
stu2.results()

Congratulations, you passed! John Smith scored 66/100 points in Math and got the letter B.
[('John Smith', 'Math', 'B', 'Passed')]

In [ ]:
#Öğrenci 3
stu3 = LectureStatus('Chemistry','Anna Barbez', 11123456, 88)
stu3.compute_grade()
stu3.result_message()
stu3.results()

Congratulations, you passed! Anna Barbez scored 88/100 points in Chemistry and got the letter B.
[('Anna Barbez', 'Chemistry', 'B', 'Passed')]

In [ ]:
#Öğrenci 4
stu4 = LectureStatus('History','Ellen Poet', 11112345, 26)
stu4.compute_grade()
stu4.result_message()
stu4.results()

 You failed the History! Try again next semester Ellen Poet scored 26/100 points in History and got the letter D.
[('Ellen Poet', 'History', 'D', 'Failed')]

In [ ]:
import pandas as pd

In [ ]:
#Dataframe oluşturmak için kullanıcak liste
status = [('Ben Walt', 'Math', 'F', 'Failed'),('John Smith', 'Math', 'B', 'Passed'),('Anna Barbez', 'Chemistry', 'B', 'Passed'),('Ellen Poet', 'History', 'D', 'Failed')]

In [ ]:
#Sonuçlardan pandas kullanarak dataframe oluştur
df_status = pd.DataFrame(status, index= [1,2,3,4], columns=['Name','Lecture','Grade','Status'])
df_status

          Name    Lecture Grade  Status
1     Ben Walt       Math     F  Failed
2   John Smith       Math     B  Passed
3  Anna Barbez  Chemistry     B  Passed
4   Ellen Poet    History     D  Failed

In [ ]:
 #Dataframe için excel dosyası oluşturma
 
writer = pd.ExcelWriter('status_excel.xlsx')

In [ ]:
# Dataframi excele yaz 
 
df_status.to_excel(writer)
 
# Exceli kaydet
writer.save()
print("DataFrame is exported successfully to 'converted-to-excel.xlsx' Excel File.")

DataFrame is exported successfully to 'converted-to-excel.xlsx' Excel File.